---
import { Image } from "@astrojs/image/components";
import ContentSection from "$components/content-section.astro";
import data from "$data/about";
---

<ContentSection title={data.title} subtitle={data.subtitle} id="about">
  <Fragment slot="desc">{data.body}</Fragment>
  <ul class="mt-4 flex max-w-6xl flex-col gap-4 sm:flex-row sm:gap-8">
    {
      data.people.map(({ name, bio, picture }) => (
        <div>
          <Image
            class="headshot m-auto"
            width={250}
            height={250}
            position="entropy"
            format="webp"
            src={picture}
            alt={"Picture of " + name}
          />
          <p class="text-center font-bold">{name}</p>
          {bio.map((b) => (
            <p class="py-1 text-center text-offset text-xs">{b}</p>
          ))}
        </div>
      ))
    }
  </ul>
</ContentSection>

<style>
  .headshot {
    clip-path: circle();
  }
</style>
