---
import { Icon } from "astro-icon";
import ScrollDown from "./scroll-down.astro";
import type { NavItem } from "~/types";

export interface Props {
  mainTitle: string;
  navItems: NavItem[];
  scrollTarget: NavItem;
}

const { mainTitle, navItems, scrollTarget } = Astro.props;
---

<header
  id="page-header"
  class="absolute bottom-0 z-50 flex w-full items-center justify-between border-b border-transparent p-4 text-black transition-colors duration-300"
>
  <a class="flex items-center gap-2 hover:!text-default" href="#">
    <!--
  negative margin is sum of button width (8) and gap size of flex parent (2)
  TODO don't hardcode these values
-->
    <Icon
      id="logo"
      name="logo"
      class="relative bottom-1 -ml-10 h-8 origin-[right_center] scale-0 transition-all duration-500"
    />
    <h1 class="sm:block">{mainTitle}</h1>
  </a>
  <ScrollDown id="scrolly" target={scrollTarget.id} />
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map((item) => (
              <li>
                <a class="text-sm" href={item.id}>
                  {item.title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn sm:hidden"
        aria-label="Navigation"
      >
        <Icon pack="mdi" name="menu" class="h-8" />
      </button>
    </div>
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="fixed inset-0 bg-default px-8 py-4 text-default">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon pack="mdi" name="close" class="h-8" />
            </button>
          </header>
          <div class="flex justify-center">
            <Icon name="logo" class="h-16" />
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map((item) => (
                  <li>
                    <a class="block py-4 text-center text-xl" href={item.id}>
                      {item.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const scrolly = document.getElementById("scrolly");
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  const openMenu = () => MicroModal.show(menuModalId, { disableScroll: true });
  const closeMenu = () => MicroModal.close(menuModalId);

  openNavButton?.addEventListener("click", openMenu);
  closeNavButton?.addEventListener("click", closeMenu);

  document.addEventListener(
    "DOMContentLoaded",
    () => {
      const splash = document.getElementById("splash")!;

      const arrowObs = new IntersectionObserver(
        (entries) => {
          scrolly?.classList.toggle("opacity-0", !entries[0].isIntersecting);
        },
        { threshold: 0.5 },
      );
      arrowObs.observe(splash);

      const headerObs = new IntersectionObserver(
        (entries) =>
          header.classList.toggle("fixed-header", !entries[0].isIntersecting),
        {
          rootMargin: "-1% 0px",
        },
      );
      headerObs.observe(splash);
    },
    false,
  );

  menu?.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-secondary text-default;
  }

  .fixed-header #logo {
    @apply ml-0 scale-100;
  }

  .fixed-header > #scrolly {
    display: none !important;
    height: 40px !important;
  }

  .modal.is-open {
    @apply block;
  }
</style>
