---
import { Image } from 'astro:assets';
import { Carousel } from 'flowbite';

interface Props {
  images: {
    src: ImageMetadata;
    alt: string;
  }[];
  id?: string;
  height?: string;
}

const { images, id = 'carousel', height = 'h-[600px]' } = Astro.props;
---

<div class="flex justify-center items-center">
  <div id={id} class="relative w-full max-w-md" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class={`relative ${height} overflow-hidden rounded-tl-[80px] rounded-br-[80px] shadow-2xl`}>
{images.map((image, index) => (
  <div 
    class={`duration-700 ease-in-out ${index === 0 ? '' : 'hidden'}`} 
    data-carousel-item
  >
    <Image 
      src={image.src} 
      alt={image.alt} 
      class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" 
    />
  </div>
))}

    </div>
    
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      {images.map((_, index) => (
        <button 
          type="button" 
          class="w-3 h-3 rounded-full bg-white/50 hover:bg-white" 
          aria-current={index === 0 ? "true" : "false"} 
          aria-label={`Slide ${index + 1}`} 
          data-carousel-slide-to={index.toString()}
        ></button>
      ))}
    </div>
    
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
        <svg class="w-5 h-5 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
        <svg class="w-5 h-5 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>