---
import { Icon } from "astro-icon";
import ContentSection from "@components/content-section.astro";
import data from "@data/what-is-orble.yaml";
---

<ContentSection title={data.title} subtitle={data.subtitle} id="what-is-orble">
  <Fragment slot="lead">{data.body}</Fragment>
  <p>
    Are you an interested business? Download our <a
      class="text-primary underline"
      href="/Orble-Product-Specifications.pdf">product specification sheet</a
    > to learn more!
  </p>
  <ul class="mt-2 grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      data.points.map(({ icon, heading, text }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-primary p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold">{heading}</p>
          <p class="text-center text-offset text-sm">{text}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
