---
import { Image } from "astro:assets";
import { teamMembers } from "$content/about";

import ContentSection from "$layouts/content-section.astro";
import type { SectionInfo } from "~/types";

export interface Props {
  info: SectionInfo;
}

const { info } = Astro.props;

const images = await import.meta.glob("/assets/images/team-headshots/*.{jpeg,jpg,png,gif}");

// src={images["/assets/images/team-headshots/" + image]}
---

<ContentSection info={info}>
  <ul class="mt-4 max-w-6xl grid grid-cols-1 gap-10 sm:grid-cols-3 sm:gap-24">
    {
      teamMembers.map(({ name, title, image, bio }) => (
        <div class="flex flex-col justify-center items-center">
          <Image class="headshot" src={image} alt={name} width={300} height={300} quality={90} />
          <p class="text-center font-bold">{name}</p>
          <p class="py-1 text-center text-offset text-xs">{title}</p>
          <p class="py-1 text-center text-offset text-xs">{bio}</p>
        </div>
      ))
    }
  </ul>
</ContentSection>

<style>
  .headshot {
    clip-path: circle();
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .orble-tea-bg-one{
    background-image: url("../images/bg-design/orble-tea-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 97%;
    background-position: 0px 40px
  }
</style>
